@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 Header" id="Hover" onmouseover="changeColor()" onmouseout="changeBackColor()" >Here is one of my favorite Music Videos!</h1>
</div>

<center><div class="Music Video">
    <iframe id="Video" width="560" height="315" src="https://www.youtube.com/embed/i60GHWU8TEw" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
</div></center>
